{% extends 'base.html.twig' %}

{% block title %}Resume game{% endblock %}

{% block body %}
    <div class="row">
        <h1>{{ app.user.username|title }}, keep playing you are doing it great!</h1>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-sm">
            {% if game.canPlay %}{{ form_start(form) }}{% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" colspan="3">GAME {{ game.id }}</th>
                </tr>
                <tr>
                    <th scope="col">Attempt</th>
                    <th scope="col">Guess</th>
                    <th scope="col">Matches</th>
                </tr>
                </thead>
                <tbody>
                {% for attempt in game.attemptedGuesses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ attempt.guess }}</td>
                        <td>{{ attempt|codebreaker_matches }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    {% if game.canPlay %}
                        <td></td>
                        <td>{{ form_widget(form.guess) }}</td>
                        <td>{{ form_widget(form.submit) }}</td>
                    {% elseif game.beenFound %}
                        <td colspan="3" class="bg-success text-white">You broke the code!</td>
                    {% else %}
                        <td colspan="3" class="bg-danger text-white">You didn't break the code =(</td>
                    {% endif %}
                </tr>

                </tbody>
            </table>
            {% if game.canPlay %}{{ form_end(form) }}{% endif %}
        </div>
    </div>
{% endblock %}
